@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap");

:root {
  --bg: #1c1e23;
  --red: #ff1054;
  --green: #007c79;
  --light: #cacdd5;
}

* {
  margin: 0;
}
