---
import HeroSection from "../components/HeroSection.astro";
import InfoSektion from "../components/InfoSektion.astro";
import BlivKlimaVen from "../components/BlivKlimaVen.astro";
import Sektion4 from "../components/Sektion4.astro";
import Newsletter from "../components/Newsletter.astro";
import VideoSektion from "../components/VideoSektion.astro";
import SoMe from "../components/SoMe.astro";
import Footer from "../components/Footer.astro";
import BaseLayout from "../layout/BaseLayout.astro";
import "../styles/global.css";
---
	<body>
		<BaseLayout />
		<HeroSection />
		<InfoSektion />
		<BlivKlimaVen />
<Sektion4 />
<Newsletter />
<VideoSektion />
<SoMe />
<Footer />

	</body>

