---
import HeroSection from "../Components/HeroSection.astro";
import InfoSektion from "../Components/InfoSektion.astro";
import BlivKlimaVen from "../Components/BlivKlimaVen.astro";
import Sektion4 from "../Components/Sektion4.astro";
import Newsletter from "../Components/Newsletter.astro";
import VideoSektion from "../Components/VideoSektion.astro";
import SoMe from "../Components/SoMe.astro";
import Footer from "../Components/Footer.astro";
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Plastic Change</title>
	</head>
	<body>
		<HeroSection />
		<InfoSektion />
		<BlivKlimaVen />
<Sektion4 />
<Newsletter />
<VideoSektion />
<SoMe />
<Footer />

	</body>
</html>
