---

---

<div id="grid_1-1">
    <div class="blivKlimaVen">
<h1>BLIV KLIMA VEN</h1>
<p>En del af din støtte går til at lægge politisk pres for bedre miljølovgivning, der værner om kloden og dens ressourcer. </p>
<p>En mindre del går til fundraising og indsamlinger, så Plastic Changer bevægelsen kan blive ved med at vokse. Og så går en lille del til administration, og til at give Plastic Change et sted at bo.</p>    
</div>
    <div class="guideSektion">

    </div>
</div>

<style>
#grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url("../assets/bg-img-klima.png");
    color: white;
}



</style>