<div class="button">
    <a href="https://www.youtube.com/@plasticchange5159">Se mere på vores Youtube</a>
  </div>
  
  <style>
  .button {
    border: 1px var(--green) solid;
    border-radius: 20px;
    padding: 7px 10px;
    text-align: center;
  background-color: var(--green);
    display: inline-block;
    font-size: 16px;
    line-height: normal;
  }
  
  .button a {
    color: white;
      text-decoration: none;
      font-family: rubik;
      line-height: normal;
  }
  </style>
  