---
import "../styles/global.css";
import { Image } from "astro:assets";
import logo from "../assets/plasticchange.png";
import Button from "../components/Button.astro";
import Button02 from "../components/Button02.astro";
---
<div class="hero-image">
<header>
    <nav>
        <ul>
            <li><a href="#"><Image  src={logo} alt="logo" /></a></li>
            <div class="flex">
            <li><a class="link" href="#">Generelt</a></li>
            <li><a class="link" href="#">Vores arbejde</a></li>
            <li><a class="link" href="#">Hvad kan du gøre?</a></li>
            <li><a class="link" href="#">Videnscenter</a></li>
            <li><a class="link" href="#">Kontakt</a></li> 
            <div class="buttons">
          <Button />
        <Button02 />
            </div>
         </div>
        </ul>
    
         
       </nav>
</header>
</div>
<style>
nav {
    background-color: var(--bg-opacity);
}

ul {
    list-style-type: none;
    margin: 0;
  padding: 0;
  overflow: hidden;
}


li {
  float: left;
}

a.link{
display: flex;
  color: white;
  padding: 16px;
  text-decoration: none;
  font-family: rubik;
  font-size: 18px;
  line-height: 75px;
}

.flex {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

a img {
    margin-right: 70px;
    margin-left: 40px;
}

.buttons {
margin-top: 3%;
margin-left: 17%; 
}

/* .hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(Hero);

} */

</style>