---
import "../styles/global.css";
import { Image } from "astro:assets";
import logo from "../assets/plasticchange.png";
import Button from "../components/Button.astro";
import Button02 from "../components/Button02.astro";
---

<header>
    <nav>
        <ul>
            <li><a href="#"><Image  class="billedet" src={logo} alt="logo" /></a></li>
            <div class="flex">
            <li><a href="#">Generelt</a></li>
            <li><a href="#">Vores arbejde</a></li>
            <li><a href="#">Hvad kan du gøre?</a></li>
            <li><a href="#">Videnscenter</a></li>
            <li><a href="#">Kontakt</a></li>
         </div>
        </ul>
        <Button />
        <Button02 />
       </nav>
</header>

<style>
nav {
    background-color: var(--bg);
}

ul {
    list-style-type: none;
    margin: 0;
  padding: 0;
  overflow: hidden;
}


li {
  float: left;
}

li a {
display: flex;
  color: white;
  padding: 16px;
  text-decoration: none;
  font-family: rubik;
  font-size: 18px;
  line-height: 75px;
}

.flex {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

a img {
    margin-right: 70px;
    margin-left: 40px;
}

</style>