---
import "../styles/global.css";
import { Image } from "astro:assets";
import logo from "../assets/plasticchange.png";
---

<header>
    <nav>
        <ul>
            <li> <Image  class="billedet" src={logo} alt="logo" /></li>
            <li><a href="#">Generelt</a></li>
            <li><a href="#">Vores arbejde</a></li>
            <li><a href="#">Hvad kan du gøre?</a></li>
            <li><a href="#">Videnscenter</a></li>
            <li><a href="#">Kontakt</a></li>
        </ul>
       </nav>
</header>

<style>
nav {
    background-color: var(--bg);
}

ul {
    list-style-type: none;
}

li a {
    color: white;
}

</style>