---
import "../styles/global.css";
import { Image } from "astro:assets";
import logo from "../assets/plasticchange.png";
import Button from "../components/Button.astro";
import Button02 from "../components/Button02.astro";
---
<div class="hero-image">
<header>      
    <nav role="navigation">

      <div id="menuToggle"> 
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
        <ul id="menu">
            <li><a href="#"><Image  src={logo} alt="logo" /></a></li>
            <div class="flex">
            <li><a class="link" href="#">Generelt</a></li>
            <li><a class="link" href="#">Vores arbejde</a></li>
            <li><a class="link" href="#">Hvad kan du gøre?</a></li>
            <li><a class="link" href="#">Videnscenter</a></li>
            <li><a class="link" href="#">Kontakt</a></li> 
            
            <div class="buttons">
          <Button />
        <Button02 />
      </div></div>
            </div>
         </div>
        </ul>
         <Image class="mobileImg" src={logo} alt="logo" />
       </nav>
</header>
</div>

<style>
span {
  display: none;
}

input {
  display: none;
}

nav {
    background-color: var(--bg-opacity);
}

ul {
    list-style-type: none;
    margin: 0;
  padding: 0;
  overflow: hidden;
}

.mobileImg{
  display: none;
}


li {
  float: left;
}

a.link{
display: flex;
  color: white;
  padding: 16px;
  text-decoration: none;
  font-family: rubik;
  font-size: 18px;
  line-height: 75px;
}

.flex {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}



a img {
    margin-right: 70px;
    margin-left: 40px;
}

.buttons {
margin-top: 3%;
margin-left: 17%; 
}

nav a.icon {
  display: none;
}

@media only screen and (max-width: 600px) {

  a.link {
    line-height: 0%;
  }
  
  .flex {
  padding: 0;
  margin: 0;
  list-style: none;
display:grid;
}

.buttons {
margin-top:0%;
text-align: center;
margin-left: 0%;
}

.mobileImg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 40%;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
margin-left: 5%;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: var(--bg);
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: var(--red);
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 2; 
  
  -webkit-touch-callout: none;
}


#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: var(--bg);
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}


#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: var(--bg);
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}


#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}

}
</style>
