---
import "../styles/global.css";
import { Image } from "astro:assets";
import logo from "../assets/plasticchange.png";
---

<header>
    <nav>
        <ul>
            <li><a href="#"><Image  class="billedet" src={logo} alt="logo" /></a></li>
            <li><a href="#">Generelt</a></li>
            <li><a href="#">Vores arbejde</a></li>
            <li><a href="#">Hvad kan du gøre?</a></li>
            <li><a href="#">Videnscenter</a></li>
            <li><a href="#">Kontakt</a></li>
        </ul>
       </nav>
</header>

<style>
nav {
    background-color: var(--bg);
}

ul {
    list-style-type: none;
    margin: 0;
  padding: 0;
  overflow: hidden;
}


li {
  float: left;
}

li a {
display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-family: rubik;
}

img {
    max-width: 50%;
    max-height: 50%;
    padding-right: 100%;
}

</style>