<header>
    <nav>
        <ul>
            <li> <img src="./assets/plasticchange.png" alt="logo"></li>
            <li><a href="#">Generelt</a></li>
            <li><a href="#">Vores arbejde</a></li>
            <li><a href="#">Hvad kan du gøre?</a></li>
            <li><a href="#">Videnscenter</a></li>
            <li><a href="#">Kontakt</a></li>
        </ul>
       </nav>
</header>

<style>
nav {
    background-color: var(--bg);
}

</style>