---
import Header from "./Header.astro";
import SquareHero from "./SquareHero.astro";
---

<body>
    <div id="heroImage">
    <Header />
    <SquareHero />

</div>
</body>

<style>
#heroImage {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../assets/hero.png");
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

</style>