---
---
<div id="bg-flasker">
    <div class="center">
<h1>Tilmeld dig vores Nyhedsbrev</h1>
<p>I vores nyhedsbrev kan du holde dig opdateret om bl.a 
    vores kamp imod plastikforurening. Vi holder dig også opdateret på vigtige verdensbegivender relateret til vores arbejde. </p>
    <input type="text" placeholder="Skriv dit navn" class="formular" />
    <input type="text" placeholder="Skriv din mail" class="formular" /></div>
</div>
<style>
    #bg-flasker{
       background-image: url("../assets/bg-flasker.png"); 
    } 

    .center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.center form{
  margin: auto;
  width: 50%;
  padding: 10px;
}

input {
  display:block;
  width:93%;
  margin:10px 0;
  padding:10px;
  margin-top: 3%;
}
.formular {
  border-radius:10px;
  border: 1px solid #eee;
  transition: .3s border-color;
}
.formular:hover {
  border: 1px solid #aaa;
}

h1,p {
    color: white;
    margin-top: 5%;
}

</style>