---
---
<div id="bg-flasker">
    <div class="center">
<h1>Tilmeld dig vores Nyhedsbrev</h1>
<p>I vores nyhedsbrev kan du holde dig opdateret om bl.a 
    vores kamp imod plastikforurening. Vi holder dig ogs책 opdateret p책 vigtige verdensbegivender relateret til vores arbejde. </p>
    <input type="text" placeholder="Skriv dit navn" class="formular" />
    <input type="text" placeholder="Skriv din mail" class="formular" />
<div class="right"><button>Tilmed dig</button></div>
</div>
</div>

<div id="bg-mobile">
  <div class="text">
<h1>Tilmeld dig vores Nyhedsbrev</h1>
<p>I vores nyhedsbrev kan du holde dig opdateret om bl.a 
  vores kamp imod plastikforurening.</p>
  <p> Vi holder dig ogs책 opdateret p책 vigtige verdensbegivender relateret til vores arbejde. </p>
  </div>
  <div id="formMobile">
  <input type="text" placeholder="Skriv dit navn" class="formular" />
  <input type="text" placeholder="Skriv din mail" class="formular" />
<div class="right"><button>Tilmed dig</button></div>
</div>
</div>


<style>
    #bg-flasker{
       background-image: url("../assets/bg-flasker.png"); 
       background-size: cover;
       background-repeat: no-repeat;
       margin-left: -7px;
    } 

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

input {
  display:block;
  width:97%;
  margin:10px 0;
  padding:10px;
  margin-top: 3%;
}
.formular {
  border-radius:10px;
  border: 1px solid #eee;
  transition: .3s border-color;
}
.formular:hover {
  border: 1px solid #aaa;
}

h1,p {
    color: white;
    margin-top: 5%;
}

button {
appearance:none;
-webkit-appearance:none;
padding:10px;
border:none;
background-color: var(--green);
color:#fff;
border-radius:5px;
width:20%;
margin-top: 2%;
margin-bottom: 2%;
}

.right {
    max-width: 100%;
text-align: right;
}

#bg-mobile {
  display: none;
}

@media only screen and (max-width: 600px) {
  #bg-flasker{
       display: none;
    } 

    #bg-mobile {
  background-color: var(--bg);
  display: block;
}

button {
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
}

.text {
  margin: 0%;
  margin-left: 5%;
padding-top: 5%;
}

.text h1 {
  width: 70%;
}

.text p {
  width: 90%;

}

p {
    margin-top: 10%;
    margin-bottom: 10%;
}

input {
  display:block;
  width:95%;
  margin:10px 0;
  padding:10px;
  margin-top: 3%;
}

#formMobile {
  width: 90%;
  margin: auto;
  padding: 10px;
  padding-bottom: 30px;
}

}


</style>