---
import Button03 from "./Button03.astro";
---
<h1>DELTAG I KAMPEN MED OS</h1>
<p>Besøg vores videnscenter og bliv indspireret af hvad du kan gøre af store og små ting som alle gør en kæmpe forskel for vores natur og havmiljø.</p>
<div id="grid_1-1-1-1">

</div>
<Button03 />

<style>

</style>