---
import Button02 from "./Button02.astro";
import "../styles/global.css";
---
<div id="grid_1-1-1">
<div class="section1">
<h2>SKRIV UNDER</h2>
<p>Kræv en ambitiøs global plastiktraktat</p>
<a href="#">Hvad er plastiktraktaten</a>
</div>
<div class="section2">
    <h2>DELTAG I KAMPEN</h2>
    <p>Hjælp os med at skabe en verden uden plastikforurening</p>
    <Button02 />
</div>
<div class="section3">
    <h2>FÅ SVAR</h2>
    <p>Få svar på dine spørgsmål om plastik</p>
    <a href="#">Hvad kan du gøre? </a>
</div>
</div>
<div id="mobile">
    <h1>Plastikforurening truer livet i havet og på jorden</h1>
</div>

<style>
    #grid_1-1-1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        background-color: var(--bg-opacity);
        max-width: 70%;
        margin-top: 38%;
    }

.section1, .section2, .section3 {
    line-height: 40px;
    border-right: 1px var(--light) solid;
    margin-left: 5%;
    margin-bottom: 5%;
}

p {
    color: white;
    font-family: rubik;
}

    a {
        color: white;
        font-family: rubik;
    }

    #mobile {
        display: none;
    }

    @media only screen and (max-width: 600px) {
#grid_1-1-1 {
    display: none;
}

#mobile {
    display: block;
    color: white;
    background-color: var(--bg-opacity);
    margin-top: 30%;
    margin-left: 3%;
    margin-right: 10%;
}

#mobile h1 {
    font-size: 24px;
    font-weight: 500;
}

}


</style>