---
import Button03 from "./Button03.astro";
import Button05 from "./Button05.astro";
---
<div id="bg-video"><div id="video">
<h1>Vores fremhævet video</h1>
<h2>"En Verden Af Plastik"</h2>
<div id="web">
<iframe width="770" height="450" src="https://www.youtube.com/embed/7eivTQkBYvo?si=3aaxUKzQSnZPNh3y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
<div id="mobile">
    <iframe width="385" height="225" src="https://www.youtube.com/embed/7eivTQkBYvo?si=3aaxUKzQSnZPNh3y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div id="textWeb">
<p>Som seer kan du forvente at få indblik i omfanget af problemet og måske blive opfordret til handling for at reducere plastforbruget og støtte bæredygtige løsninger.</p>
</div><div class="button">
    <Button03 />
<Button05 />
</div>
</div>
 </div>
<style>
    h1 {
        margin-top: 5%;
        margin-bottom: 2%;
    }
    h2{
        color: var(--green);
        font-weight: 500;
        margin-bottom: 4%;
    }
p{
    margin-top: 1%;
    font-weight: bold;
}

    #video {
        margin: auto;
        width: 50%;
    }
    #bg-video {
        background-image: url("../assets/bg-video.png"); 
       background-size: cover;
       background-repeat: no-repeat;  
       padding-bottom: 4%;
    }

    .button {
    margin-top: 3%;
    text-align: center;
}

#mobile {
    display: none;
}

@media only screen and (max-width: 600px) {
    #web {
        display: none;
    }
    #mobile {
    display: inline;
}
    #video {
width: auto;
text-align: center;
    }

    h1, h2 {
        text-align: center;
    }
#textWeb {
    display: none;
}
}
</style>